{% extends "base.html" %}

{% block head %}
<title>CurrencyConverter</title>
{% endblock %}

{% block body %}
<h1>CurrencyConverter</h1>
<h2>USD to SEK</h2>
<form action="/" method="POST">
    <input type="text" name="baseValue" placeholder="Write amount">USD
    <input type="Submit" value="Convert">
</form>
<form action="/" method="POST">
    <select name="rate" id="rate">
        <option value='{"rate": 10.20, "currency": "SEK"}'>SEK</option>
        <option value='{"rate": 0.91, "currency": "EUR"}'>EUR</option>
        <option value='{"rate": 0.79, "currency": "GBP"}'>GBP</option>
        <option value='{"rate": 6.75, "currency": "DKK"}'>DKK</option>
        <input type="Submit" value="Select">
    </select>
</form>
<h2>{{newValue}} {{currency}}</h2>

<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}