{% extends "base.html" %}

{% block head %}
<title>CurrencyConverter</title>
{% endblock %}

{% block body %}
<h1>CurrencyConverter</h1>
<form id="baseValueForm"action="/newValue" method="POST">
    <input id="inputBaseValue" type="text" name="baseValue" placeholder="Write amount">USD
</form>
<form id="rateForm" action="/rate" method="POST">
    <select name="rate" id="rateMenu">
        <option selected>Select Currency</option>
        <option value='{"rate": 10.20, "currency": "SEK"}'>SEK</option>
        <option value='{"rate": 0.91, "currency": "EUR"}'>EUR</option>
        <option value='{"rate": 0.79, "currency": "GBP"}'>GBP</option>
        <option value='{"rate": 6.75, "currency": "DKK"}'>DKK</option>
    </select>
</form>
<h2 id="displayData">{{newValue}} {{currency}}</h2>

<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}